{{ partial "header.html" . }}
{{ partial "nav.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="mdl-layout__content">

    <h4>{{ .Title }}</h4>
    <p>
    {{if .Params.categories }}
        {{ range $index, $category := .Params.categories }}
            <a href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }}</a>
        {{ end }}
    {{end}}
    </p>
    <p>{{ .Content }}</p>
    <p>{{ .Date.Format "2 Jan 2006" }}
        {{if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
            {{ end }}
        {{end}}
    </p>

    {{ partial "footer.html" . }}

</div>
